<div class="body">
    <div class="container" [ngClass]="{'active':isRegister}">
        <div class="card" style="display:none"></div>
        <div class="card">
            <h1 class="title">Forgot password</h1>
            <form autocomplete="off" [formGroup]="registrationForm" (ngSubmit)="send(registrationForm.value)">
                <div class="input-container">
                    <input type="text" class="form-control" formControlName="email" id="email" required="required" />
                    <label for="email">Email</label>
                    <div class="bar"></div>
                    <div class="form-text error" *ngIf="registrationForm.controls.email.touched">
                        <div *ngIf="registrationForm.controls.email.hasError('required')"> {{ errorMessage }} </div>
                        <div *ngIf="registrationForm.controls.email.hasError('invalidEmail')">Invalid Email format.</div>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-default">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>