<div class="body">
    <div class="container" [ngClass]="{'active':isRegister}">
        <div class="card" style="display:none"></div>
        <div class="card">
            <h1 class="title">Reset password</h1>
            <form autocomplete="off" [formGroup]="registrationForm" (ngSubmit)="reset(registrationForm.value)">
                <div class="input-container">
                    <input type="password" id="regPass" class="form-control" formControlName="password" required="required" />
                    <label for="regPass">Password</label>
                    <div class="bar"></div>
                    <div class='form-text error' *ngIf="registrationForm.controls.password.touched">
                        <div *ngIf="registrationForm.controls.password.hasError('required')"> {{ errorMessage }} </div>
                        <div *ngIf="registrationForm.controls.password.hasError('minlength')">Password isn't long enough.</div>
                        <div *ngIf="registrationForm.controls.password.hasError('invalidPassword')">Password should contain 6-20 symbols (required one letter and one number)</div>
                    </div>
                </div>
                <div class="input-container">
                    <input type="password" id="repeat" class="form-control" formControlName="confirmPassword" required="required" />
                    <label for="repeat">Repeat Password</label>
                    <div class="bar"></div>
                    <div class='form-text error' *ngIf="registrationForm.controls.confirmPassword.touched">
                        <div *ngIf="registrationForm.hasError('mismatchedPasswords')">Passwords doesn't match.</div>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-default">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>